<% if (typeof(posts) != "undefined" && posts.length){

	if(typeof(start) == 'undefined') {
		start = 0;
	}

	if(typeof(count) == 'undefined') {
		count = posts.length;
	}
	var end = start + count;

	%>
  <div class="recent-posts">
			<h1><%-title%></h1>
      <ul class="post-list">
        <% posts.sort('date', -1).slice(start,end).forEach(function(post,idx) {
			%>
          <li class='post'>
					  <div class='post-image'>
						  <img src="<%- post.image -%>"/>
					  </div>

				  <div class='post-info'>
						  <h2><a class='title' href="/<%- post.path %>"><%= post.title || '(no title)' %></a></h2>
						  <div class='date'>Date: <%- moment(post.date).format("MM/DD/YYYY") %></div>
						  <% if(post.excerpt && post.excerpt != "") {%><div class="description"><%- post.excerpt %> <br/> <a class='title' href="/<%- post.path %>">Read More</a></div>
		
						  <%}%>
				  </div>
          </li>
        <% }) %>
      </ul>

  </div>
<% } %>