<div class="blog-list">
    <%
        const sortedPosts = _.sortBy(posts, ['date']).reverse();

        sortedPosts.forEach((post, idx) => { %>

            <div class="post">
                <div class="banner">
                    <a class="more" href="/<%- post.path %>"><img src="<%- post.banner %>" /></a>
                </div>
                <div class="info">
                    <h2 class="title"><a href="/<%- post.path %>"><%- post.title %> <% if (typeof(post.podcast) !== 'undefined') { %><i class="fas fa-podcast"></i><% } %></a></h2>
                    <div class="date-categories">
                        <span class="date"><%= moment(post.date).format('MM/DD/YYYY') %></span>
                        <span class="categories">
                            <% post.categories.forEach(cat =>{ %>
                                <a href="/blog-by-category#<%- slug(cat) %>"><%- cat %></a>
                            <% }) %>
                        </span>
                    </div>
                    <div class="summary">
                        <%- post.description %>
                        <div><a class="more" href="/<%- post.path %>">Read More</a></div>
                    </div>
                </div>
            </div>

        <% }); %>

</div>
