<div class="page blog">
    <div class="header">
        <% if (typeof(banner) !== 'undefined' && banner !== null) {%>
        <div class="page-banner" style="background-image: url(<%- banner %>)">
            <div class="container">
                <h1 class="page-title"><%- title%></h1>
            </div>
        </div>
        <% } %>
    </div>
    <div class="container">
        <% if (typeof(banner) === 'undefined' || banner === null) {%>
        <h1 class="page-title"><%- title%></h1>
        <% } %>
        <div class="main">
            <div class="left">
                <div class="content">
                    <%- contents %>
                </div>
                <div class="posts-area">
                    <%- include('partials/blog_list_by_category') %>
                </div>
            </div>

            <div class="right">
                <h2>ECC Services</h2>
                <ul class="services">
                    <li><a href="/coaching">Coaching</a></li>
                    <li><a href="/resumes">Resume Writing</a></li>
                    <li><a href="/speaking">Speaking</a></li>
                </ul>

                <h2>ECC Podcasts</h2>
                <p>Don't miss a moment of Lesa Edward's Exclusive Career Coaching podcasts. This weekly podcast covers all things career management including job search strategies, interviewing tips, networking tools, maximizing LinkedIn, salary negotiations, and managing your mindset around your career.<p>
                <div class="subscribe-buttons">
                    <a href="https://itunes.apple.com/us/podcast/the-exclusive-career-coach/id1305349418?mt=2&amp;ls=1" class="subscribe-button itunes" target="_blank" title="Subscribe on Apple Podcasts"><span class="ic"></span>on Apple Podcasts</a>
                    <a href="http://subscribeonandroid.com/exclusivecareercoaching.com/feed/podcast/" class="subscribe-button android" target="_blank" title="Subscribe on Android"><span class="ic"></span>on Android</a>
                    <a href="https://www.google.com/podcasts?feed=aHR0cDovL2V4Y2x1c2l2ZWNhcmVlcmNvYWNoaW5nLmNvbS9mZWVkL3BvZGNhc3Qv" class="subscribe-button gp" target="_blank" title="Subscribe on Google Podcasts"><span class="ic"></span>on Google Podcasts</a>
                    <a href="http://www.stitcher.com/s?fid=156747&amp;refid=stpr" class="subscribe-button stitcher" target="_blank" title="Subscribe on Stitcher"><span class="ic"></span>on Stitcher</a>
                    <a href="http://exclusivecareercoaching.com/feed/podcast/" class="subscribe-button rss" target="_blank" title="Subscribe via RSS"><span class="ic"></span>via RSS</a>
                </div>
            </div>
        </div>

    </div>
</div>
