<script>
const vlist = [
    <%
        let leadVideos = videos.filter(v => v.lead);
        leadVideos.forEach(v => { %>
            '<%- v.video %>',
        <% }); %>
    %> ];

    function fetchVideoInfo(list) {
        // EXAMPLE CALL: "https://www.googleapis.com/youtube/v3/videos?key=AIzaSyAVfN9X5e5CNE-s12canumOxB7Xb2iG_S0&part=snippet&id=T0Jqdjbed40"
        list.forEach(vid => {
        fetch('https://www.googleapis.com/youtube/v3/videos?key=AIzaSyAVfN9X5e5CNE-s12canumOxB7Xb2iG_S0&part=snippet&id=' + vid)
          .then(function(response) {
            return response.json();
          })
          .then(function(json) {
              console.log(json.items[0].snippet.thumbnails.standard.url)
              $('#thumb' + vid).attr('src',json.items[0].snippet.thumbnails.standard.url)
          });
      });
    }

    fetchVideoInfo(vlist);

</script>

<div class="home">
    <div class="home-banner">
        <img src="/images/<%- banner %>"/>
        <div class="content">
            <div class="title-small">Centered On</div>
            <div class="title-large">Wellness</div>
            <div class="focused">focused on <span class="you">you</span></div>
            <div class="tag"><%- header_tag %></div>
            <a class="learn-more" href="/about-us">Learn More</a>
        </div>
    </div>

    <div class="container main">
        <%- contents %>
    </div>

    <div class="callout-band">
        <div class="callout-area container">
            <div class="left">
                <img src="/images/home-left.jpg" alt="Clear sking/face.">
            </div>
            <div class="info">
                <% if (typeof(top_callout) !== 'undefined') { %>
                    <%- marked(top_callout) %>
                <% } %>
            </div>
            <div class="right">
                <img src="/images/home-right.jpg" alt="Clear sking/face.">
            </div>
        </div>
    </div>

    <div class="specialties-area container">
        <div class="specialty">
            <img src="/images/<%- specialty1_icon %>" alt="Specialty"/>
            <%- marked(specialty1_text) %>
        </div>
        <div class="specialty">
            <img src="/images/<%- specialty2_icon %>" alt="Specialty"/>
            <%- marked(specialty2_text) %>
        </div>
        <div class="specialty">
            <img src="/images/<%- specialty3_icon %>" alt="Specialty"/>
            <%- marked(specialty3_text) %>
        </div>
        <div class="specialty">
            <img src="/images/<%- specialty4_icon %>" alt="Specialty"/>
            <%- marked(specialty4_text) %>
        </div>
    </div>

    <div class="newsletter-band">
        <div class="newsletter-area container">
            <div class="icon-area"><img src="/images/Newsletter.jpg" alt="Our Newsletter"></div>
            <div class="newsletter">
                <%- newsletter_form %>
            </div>
        </div>
    </div>

    <div class="schedule-area container">
        <%- schedule_form %>
    </div>

    <% if (leadVideos.length) { %>
    <div class="green-band">
        <div class="green-area container">

            <%- marked(green_text) %>

            <div class="green-callouts videos-list">
                <%
                const sortedVideos = _.sortBy(leadVideos,["title"]);
                sortedVideos.forEach((video, idx) => { %>
                    <a href="/<%- video.path %>" class="video callout">
                        <div class="thumbnail">
                            <img id="thumb<%- video.video%>" src="/images/video.jpg" alt="<%- video.title%>"/>
                        </div>
                        <h2><%- video.title%></h2>
                        <div class="description">
                            <%- marked(video.description) %>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>

    <div class="saying-band">
        <div class="saying-area container">
            <div class="saying-title">
                <h3>What You're Saying</h3>
            </div>
            <div class="sayings">
            <% testimonials.forEach(saying => { %>
                <div class="saying-text">
                    <%- marked(saying.saying_text) %>
                </div>
            <% }) %>
            </div>
        </div>
    </div>

    <div class="contact-band">
        <div class="contact-area container">
            <a class="contact" href="mailto:info@centeredonwellness.com">
                <i class="fas fa-envelope"></i><br/>
                <span class="link-text">Email Us</span>
            </a>
            <a class="contact" href="/contact">
                <i class="fas fa-map-marker-alt"></i><br/>
                <span class="link-text">Find Us</span
            </a>
            <a class="contact" href="/contact">
                <i class="fas fa-phone"></i><br/>
                <span class="link-text">Contact Us</span>
            </a>
        </div>
    </div>

</div>
